/*general*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand';
  color: #000000;
}

/*navbar*/
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}

.navbar-container{
  width: 100%;
  background-color: #FDFDFA;
}

#header-up{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

/*title vorskin*/
#header-up #vorskin{
  font-family: 'Avenir Next LT Pro';
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  margin-left: 45%;
} 

/*link login dan subscribe*/
#header-up #account{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

#header-up #account li{
  display: inline-block;
  padding: 0 0.8vw;
  list-style: none;
  margin: 2vh;
}

#header-up #account li a{
  text-decoration: none;
  color:#2F2F2F;
  transition: 0.3s ease;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4vw;
}

#header-up #account li a:hover {
  color: #76A2CB;
}

/*navbar di bawah*/
nav #navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  list-style: none;
}

nav #navbar li{
  display: inline-block;
  padding: 0 1vw;
  list-style: none;
  margin: 2vh;
}

nav #navbar li a{
  text-decoration: none;
  color:#2F2F2F;
  transition: 0.3s ease;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4vw;
}

nav #navbar li a:hover {
  color: #76A2CB;
  transition: 0.3 ease;
}

nav #navbar a.active{
  color: #76A2CB;
  transition: 0.3 ease;
}

/*isi promosi*/

/*margin content container*/
.content{
  margin-bottom: 20vh;
  margin-top: 10vh;
}

/*masukin gambar*/
.sidebyside .columns.img1{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Images/promo_lemon.png');
}

.sidebyside .columns.img2{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Images/promo_toner_hydrate.png');
}

.sidebyside .columns.img3{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Images/promo_bca.png');
}

.sidebyside .columns.img4{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Images/promo_summer.png');
}

/*content / isi promosi*/
.margin-promotion #offer{
  font-family: 'Avenir Next LT Pro';
  color: #76A2CB;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
} 

/* first promotion  */
.first #lmon{
  font-family: 'Montserrat';
  color : #D2B82E;
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
}

.first #lemon{
  font-family: 'Montserrat';
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
}

.first #upto-lemon{
  font-family: 'Montserrat';
  color: #76A2CB;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5vw;
}

.first #mini-product{
  font-size: 1.5vw;
  font-weight: bold;
  color: #76A2CB;
}

button{
  font-family: 'Montserrat';
  font-size: 1.5vw;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  background: #76A2CB;
  border-radius: 10px;
  padding: 1.8vh 1.5vw;
  border: none;
}

button:hover{
  cursor: pointer;
  transition: 0.3s ease;
  background: #41617D;
}

.second button {
  margin: 0px 10%;
}


/* second promotion */
.second #promo21{
  font-family: 'Montserrat';
  color : #C71B1B;
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
  margin-left: 10%;
}

.second #promo22{
  font-family: 'Montserrat';
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
  margin-left: 10%;
}

.second #promo23{
  font-family: 'Montserrat';
  color: #76A2CB;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 10%;
}

.second #promo24{
  font-size: 1.5vw;
  font-weight: bold;
  color: #76A2CB;
  margin-left: 10%;
}

/* third promotion */
.first #promo31{
  font-family: 'Montserrat';
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
}

.first #promo32{
  font-family: 'Montserrat';
  color : #76A2CB;
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
}

.first #terms{
  font-size: 1.5vw;
  font-weight: bold;
  color: #76A2CB;
}

/* fourth promotion  */
.second #promo41{
  font-family: 'Montserrat';
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
  margin-left: 10%;
}

.second #promo42{
  font-family: 'Montserrat';
  text-align: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 2vw;
  margin-left: 10%;
  color: #D2B82E;
}

.second #promo43{
  font-size: 1.5vw;
  font-weight: bold;
  color: #76A2CB;
  margin-left: 10%;
}

/*gambar content*/
.first img{
  float:left; 
  margin: 0 2vw 0.5vw 0;
}

.first hr{
  size: 0;
  width: 25vw;
  border: 0; 
  border-top: 1px solid #76A2CB;
}

.second img{
  float:right; 
  margin: 10vh 0px 0px 0;
}

.second #hs1{
  margin: 0px 10%;
  size: 0;
  width: 25vw;
  border: 0; 
  border-top: 1px solid #76A2CB;
}

.second #hs2{
  margin: 0px 10%;
  size: 0;
  width: 25vw;
  border: 0; 
  border-top: 1px solid #76A2CB;
}

/*line*/
#line1{
  size:0px;
  width:25vw;
  border: 0; 
  border-top: 1px solid #76A2CB;
}


/*footer */
footer{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  background-color: #FDFDFA;
  color: #000000;
  padding-top: 6vh;
  padding-left: 10vw;
  width: 100vw;
}

.container{
  display: flex;
}

footer #brand {
  flex-grow: 1;
  flex-basis: 90%;
  padding-right: 20vw;
}

footer #explore{
  flex-grow: 1;
  flex-basis: 60%;
}

footer #contact{
  flex-grow: 1;
  flex-basis: 60%;
}

footer #brand h1{
  font-family: 'Avenir Next LT Pro';
  font-size: 3vw;
  font-weight: 400;
  padding-bottom: 3vh;
}

footer h1{
  font-weight: 700;
  font-size: 1.7vw;
  line-height: 2.6vw;
  margin-bottom: 2vh;
}

footer p {
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 2.6vw;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  padding-bottom: 2vh;
}

footer ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4vw;
  transition: 0.3s ease;
}

footer ul li a:hover {
  color: #76A2CB;
}

.bold{
  font-weight: 700;
}

.copyright{
  padding-bottom: 3vh;
}

