/*general*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand';
  color: #000000;
}

/*login and subscribe general*/

#vorskin{
    font-family: 'Avenir Next LT Pro';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5vh;
}

/*kotak yg ada burem2nya*/
.container{
    max-width: 70vw;
    width: 100%;
    background: rgba(253, 253, 253, 0.5);
    padding-top: 3vh;
    padding-left: 13vw;
    padding-right: 13vw;
    padding-bottom: 8vh;
    border-radius: 20px;
    justify-content: center;
}

.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}

/*buat kotak input form*/
.user-details .input-container {
    margin-bottom: 2vh;
}

.user-details .input-container label{
    font-weight: 600;
    font-size: 16px;
}

/*button*/
form .btn input{
    display: grid;
    margin: auto;
    width: 12vw;
    height: 7vh;
    outline: none;
    background-color: #76A2CB;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

form .btn input:hover{
    background-color: #41617D;
}

.container a{
    text-decoration: none;
    color: #346AD2;
}

/*login*/

#login{
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../Images/login-background.png');
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

#login .user-details .input-container input{
    width: 30vw;
    height: 6vh;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 1vh;
    font-size: 16px;
    margin-top: 1vh;
}

/*tulisan lain*/
#login .container p{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

/*register*/
#register{
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../Images/subs-background.png');
    height: 180vh;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

/*agar bisa 2 kolom*/
#register .column{
    float: left;
    width: 50%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
}

#register .user-details .input-container input{
    width: 95%;
    height: 6vh;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 1vh;
    font-size: 16px;
    margin-top: 1vh;
}

#register .container p{
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 1vh;
}

#register .container h3{
    font-weight: 700;
    font-size: 20px;
}

#register .user-details #address .input-container input{
    width: 97%;
    height: 6vh;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 1vh;
    font-size: 16px;
    margin-top: 1vh;
}

#register h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1vh;
}

#register .tick-container{
    margin-bottom: 4vh;
}

#register #subs-title{
    margin-bottom: 4vh;
}

#register .tick-container label{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}




