/*general*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand';
  color: #000000;
}

.product-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

.product-container > div {
    margin: auto;
}

.blue{
  color: #60A0DB;
}

.black{
  color: #000000;
}

h1{
  font-family: 'Avenir Next LT Pro';
  font-weight: 700;
  font-size: 40px;
}

h3{
  font-family: 'Avenir Next LT Pro';
  font-weight: 400;
  font-size: 32px;
}

.title{
  padding-left: 22vw;
}

.prod{
  text-align: center;
}


